{
  "extends": [
    "stylelint-config-recommended",
   "stylelint-config-standard",
    "stylelint-config-recommended-vue"
  ],
  "rules": {
    "indentation": 4
  },
  "files": ["*.vue", "**/*.vue","*.css", "**/*.css"]
}
