html, body {
  background-color: white;
}

a {
  cursor: pointer;
}

#app-container {
  --icon-grey-dark: #B3B3B3;
  --icon-grey-light: #CDCCCC;
  
  --icon-color-dark: #005B97;
  --icon-color-light: #2DAEE5;
}

@keyframes scale_easeOutElastic {
  0% {
    transform: scale(0);
  }

  16% {
    transform: scale(132.27%);
  }

  28% {
    transform: scale(86.88%);
  }

  44% {
    transform: scale(104.63%);
  }

  59% {
    transform: scale(98.36%);
  }

  73% {
    transform: scale(100.58%);
  }

  88% {
    transform: scale(99.8%);
  }

  100% {
    transform: scale(100%);
  }

}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

